
<h1 class="splash-regular"> Mes listes films </h1>


  <% @lists.each do |list| %>


<ol class="list-group list-group-numbered">
  <li class="list-group-item d-flex justify-content-between align-items-start">
    <div class="ms-2 me-auto">
      <div class="fw-bold"> <%= link_to list.name, list_path(list) %></div>
    </div>
    <span class="badge text-bg-secondary rounded-pill"><%= list.bookmarks.count %></span>
  </li>
</ol>
  <% end %>

<%= link_to "add a list", new_list_path(), class:"btn btn-outline-primary" %>
